* {
    box-sizing: border-box;
    color: white;
    scrollbar-width: thin;
    scrollbar-color: #263344 #608a81;
}

/* default image size */
img {
    width: 100%;
    height: auto;
}

.col-md-6, .col-md-3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2, h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

@font-face {
    font-family: 'minecraftia';
    src: url('fonts/Minecraftia-Regular.woff') format('woff'),
         url('fonts/Minecraftia-Regular.woff2') format('woff2'),
         url('fonts/Minecraftia-Regular.ttf') format('truetype');
  }
  
html {
    scroll-behavior: smooth;
}
  
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    overflow: auto;
}
  
header, footer {
    width: 100%;
    position: relative;
}
  
header {
    background-color: pink;
}
  
footer {
    background-color: crimson;
}

button {
    transition-duration: 0.4s;
}

button:hover {
    background-color: #fff2;
    color: white;
}

#alert-success {
    z-index: 2000 !important;
    width: 200px;
    position: fixed !important;
    top: 10px !important;
    right: 10px !important;
    left: auto;
    animation: fadeIn 0.5s;
}

#players-online {
    font-family: minecraftia;
    text-align: center;
    font-size: 25px;
    animation: fadeIn 8s;
}

/*Slideshow + logo section*/
#main-landing {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100vh;
}

#logo, #background-section {
    transition: transform 0.01s ease;
}

/*the actual website*/

#video-section {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
    width: 100%;
}

#YT {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



iframe {
    /*
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    max-height: 700px;
    */
}

/* The News Section */

.card h3 {
    margin-left: 20px;
    padding-top: 20px;
}

#crafatar {
    width: 60px;
    height: 60px;
}

#news-title .rank-group .rank-title {
    display: flex;
    margin: 15px 0px 15px;
}

#card-text {
    margin: 15px;
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card p, .card h3 {
    color: black;
}

/* end of news section */

#info-page {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    width: 100%;
    padding: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('images/stone.png');
    background-repeat: repeat;
    background-size: 64px;
    font-family: minecraftia;
}

#main-container {
    position: relative;
    z-index: 2;
    padding: 10vh 0%;
}

  
#background-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#slideshow-mask {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
  
#slideshow {
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    left: -3px;
    top: -3px;
    filter: blur(3px);
    backdrop-filter: blur(3px);
}
  
.background_slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: crossfade 65s linear infinite;
    opacity: 0;
    z-index: 0;
}

.background_slide:nth-child(2) {
    animation-delay: 8s;
}
.background_slide:nth-child(3) {
    animation-delay: 16s;
}
.background_slide:nth-child(4) {
    animation-delay: 24s;
}
.background_slide:nth-child(5) {
    animation-delay: 32s;
}
.background_slide:nth-child(6) {
    animation-delay: 40s;
}
.background_slide:nth-child(7) {
    animation-delay: 48s;
}
.background_slide:nth-child(8) {
    animation-delay: 56s;
}  

#logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
  
.logo {
    width: 800px;
    height: auto;
    animation: fadeIn 4s;
}
  
@keyframes crossfade {
    0% {opacity: 0;}
    5.75% {opacity: 1}
    12.5% {opacity: 1;}
    25% {opacity: 0;}
    37.5% {opacity: 0;}
    50% {opacity: 0;}
    62.5% {opacity: 0;}
    75% {opacity: 0;}
    87.5% {opacity: 0;}
    100% {opacity: 0;}
}
  
@keyframes fadeIn {
    0% { opacity: 0; }
    25% {opacity: 0; }
    100% { opacity: 1; }
}

#divider-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/stone.png');
    background-repeat: repeat-x;
    background-size: 64px 64px;
    width: 100%;
    height: 64px;
    z-index: 3;
}

/*
The actual info page
*/

.info-container {
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.carousel-inner img {
    height: 350px;
    object-fit: cover;
    width: 100%;
}

.about-factions {
    margin: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}

.about-factions-paragraph {
    font-size: 120%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 150%;
}

.col-md-6 {
    padding: 0px;
}

/*
#server-banner {
    width: 460px;
    height: auto;
}
*/

/*
#about-factions-good {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 350px;
    margin-bottom: 0px;
}
*/

#ip-address {
    font-size: 30px;
    padding-top: 15px;
    color: black;
    width: auto;
    position: relative;
    display: block;
    margin: auto;
}

#ip-address:hover {
    color: white;
}

#ip-address img {
    padding-bottom: 20px;
}

/* I think the two bottom thingos are deprecated (iirc I used them for listing all our IPs, which we dont do anymore) */

#ip-list {
    margin-top: 6px;
}

#IPs {
    list-style-type: none;
    text-decoration: none;
}

ul#IPs li::before {
    content: "- ";
}

/*
Navbar
*/

/*
.navbar {
    display: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: black;
}
*/

.navbar {
    display: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    color: black;
    background-color: transparent;
    transition: background-color 0.5s ease; /* This is for smooth transition */
    cursor: pointer;
}

.navbar.scrolled {
    background-color: #1c1c1c;
    color: black;
    opacity: 95%;
}

#server-ip-button {
    /*padding-top: 18px !important;
    font-family: minecraftia;
    background-color: #3337;
    position: fixed;
    top: 65px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
    z-index: 1000; /* Make sure it's above other elements */
    border: solid black;
    border-radius: 25px;
}

#server-ip-button.scrolled {
    background-color: #333;
}
@keyframes glint {
    0% {
        box-shadow: 0 0 2px silver, 0 0 4px silver, 0 0 8px silver, 0 0 16px silver, 0 0 24px silver;
    }
    10% {
        box-shadow: 0 0 3px silver, 0 0 6px silver, 0 0 12px silver, 0 0 24px silver, 0 0 36px silver;
    }
    20% {
        box-shadow: 0 0 4px silver, 0 0 8px silver, 0 0 16px silver, 0 0 32px silver, 0 0 48px silver;
    }
    30% {
        box-shadow: 0 0 5px silver, 0 0 10px silver, 0 0 20px silver, 0 0 40px silver, 0 0 60px silver;
    }
    40% {
        box-shadow: 0 0 6px silver, 0 0 12px silver, 0 0 24px silver, 0 0 48px silver, 0 0 72px silver;
    }
    50% {
        box-shadow: 0 0 7px silver, 0 0 14px silver, 0 0 28px silver, 0 0 56px silver, 0 0 84px silver;
    }
    60% {
        box-shadow: 0 0 6px silver, 0 0 12px silver, 0 0 24px silver, 0 0 48px silver, 0 0 72px silver;
    }
    70% {
        box-shadow: 0 0 5px silver, 0 0 10px silver, 0 0 20px silver, 0 0 40px silver, 0 0 60px silver;
    }
    80% {
        box-shadow: 0 0 4px silver, 0 0 8px silver, 0 0 16px silver, 0 0 32px silver, 0 0 48px silver;
    }
    90% {
        box-shadow: 0 0 3px silver, 0 0 6px silver, 0 0 12px silver, 0 0 24px silver, 0 0 36px silver;
    }
    100% {
        box-shadow: 0 0 2px silver, 0 0 4px silver, 0 0 8px silver, 0 0 16px silver, 0 0 24px silver;
    }
}

@keyframes glint-hover {
    0% {
        box-shadow: 0 0 2px darkgoldenrod, 0 0 4px gold, 0 0 8px darkgoldenrod, 0 0 16px gold, 0 0 24px darkgoldenrod;
    }
    25% {
        box-shadow: 0 0 4px gold, 0 0 8px darkgoldenrod, 0 0 16px gold, 0 0 32px darkgoldenrod, 0 0 48px gold;
    }
    50% {
        box-shadow: 0 0 6px darkgoldenrod, 0 0 12px gold, 0 0 24px darkgoldenrod, 0 0 48px gold, 0 0 72px darkgoldenrod;
    }
    75% {
        box-shadow: 0 0 4px gold, 0 0 8px darkgoldenrod, 0 0 16px gold, 0 0 32px darkgoldenrod, 0 0 48px gold;
    }
    100% {
        box-shadow: 0 0 2px darkgoldenrod, 0 0 4px gold, 0 0 8px darkgoldenrod, 0 0 16px gold, 0 0 24px darkgoldenrod;
    }
}

#ip-address {
    animation: glint 6s infinite;
    color: black;
    cursor: pointer;
}

#ip-address:hover {
    color: white;
    animation: glint-hover 2s infinite;
}

#ip-address:hover img {
    filter: invert(100);
}

/*
Navbar
*/

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: 950;
    font-size: 18px;
    /*text-shadow: beige;*/
    margin-right: 15px;
    margin-left: 15px;
}

nav a.active {
    background-color: rgb(50, 50, 50);
}

.navbar.scrolled a {
    color: silver;
}

.navbar.scrolled img:not(#navbar-logo) {
    filter: invert(80%);
}

.navbar a:hover {
    color: white;
    background-color: rgba(50, 50, 50, 0.643);
    text-decoration: underline;
}

.navbar.scrolled a:hover {
    background-color: rgba(82, 82, 82, 0.711);
}

.navbar a:first-child {
    margin-left: 0;
}

#navbar-logo {
    width: 40px;
}

.navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #1c1c1c;
    opacity: 95%;
}

.navbar .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(82, 82, 82, 0.711); /* Keep the background unchanged */
    color: white; /* Change text color on hover */
}

.navbar .nav-item.dropdown .dropdown-menu .dropdown-item {
    color: silver; /* Default text color */
}

/*
/ Increase specificity to ensure styles are applied /
.navbar.scrolled .nav-item .dropdown-menu {
    background-color: darkgray !important; / Override background color /
    color: black !important; / Ensure text color is overridden /
}

.navbar.scrolled .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: darkgray !important; / Background color on hover /
    color: black !important; / Text color on hover /
}
*/

/* */

.copy-button {
    position: relative;
    cursor: pointer;
    color: white;
    width: 70px;
    height: 50px;
}

#copy-button {
    margin-left: 10px;
    cursor: pointer;
    color: white;
    width: 25px !important;
    padding-bottom: 10px;
}

/*
Footer
*/

footer {
    background-color: #212529;
    color: #fff;
    padding: 20px 0;
    position: relative;
    z-index: 5;
}

.footer-container {
    max-width: 75%;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-section {
    margin-bottom: 20px;
    line-height: 210%;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    text-align: center;
}

.footer-container a:hover {
    text-decoration: underline;
}

.discord-widget {
    height: 400px;
    width: 100%;
    position: relative;
}

.footer-section img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}


#footer-logo {
    width: 70%;
    height: auto;
}

#discord {
    content: cover;

}

/*
.slick-next, .slick-prev {
    display: none !important;
}
*/

.slider .slick-slide {
    opacity: 0.6;
    transform: scale(0.8);
}

.slick-center {
    opacity: 1;
    transform: scale(2);
}

.slider img {
    width: 550px;
    height: 300px;
    object-fit: cover;
}

.slick-slide {
    margin: 0 20px;
    transition: transform 0.2s ease-in-out;
}

#game-images {
    padding: 35px 0px 35px;
}

#join-now {
    padding: 35px 0px 35px;
    align-items: center;
}

/*
Secondary pages
*/

.secondary-page {
    margin-top: 50px;
}

/*
Ranks page (separate)
*/

.ranks {

}

.rank {
    text-align: center;
    position: relative;
    align-items: center;
    box-sizing:content-box;
    /*border-radius: 10px !important;
    border-width: 10px !important;
    border-color: transparent;*/
    /*margin: 6px;
    box-sizing: calc(size - 5px);
    */
    /*border-right: 10px hidden !important;*/
}

.rank-card {
    background-color: #1c1c1c;
}

.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}
  
.timeline .timeline-item {
    position: relative;
}
  
.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}
  
.timeline .timeline-item:after {
    background-color: hsl(0, 0%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}